
html{
    scroll-behavior: smooth;
}
#navbarNav .nav-link{
    font-size: 20px;
    font-style: italic;
}

.buy-now-btn{
    color: #ffffff;
    background: #000000;
    padding: 10px 25px;
    border-radius: 10px;
}

.marginStyle{
    margin-top: 120px;
}

#product a{
    text-decoration: none;
}
#about .row{
    margin-bottom: 50px;
}
#product .row{
    margin-bottom: 50px;
}
#about .card-footer{
    border-top: none;
    background: white;
}
.box{
    height: 200px;
    width: 200px;
    border: 1px solid gray;
    background: white;
    box-shadow: 5px 5px 20px gray;
    padding-bottom: 20px;
}
.line{
    height: 10px;
    width: 90px;
    border-radius: 25px;
    background: linear-gradient(yellow, orange);
    border: 1px solid orange;
}
.box-font{
    font-size: 25px;
    color: black;
    font-family: cursive;
}

#carouselExampleIndicators li{
    height: 10px;
    width: 40px;
    border-radius: 15px;
}

#faq {
    background-image: linear-gradient(blue, lightblue);
}

#faq .text-primary{
    margin-bottom: 80px;
}

.big{
    font-size: 20px;
}

#Accordion{
    text-align: center;
}

#footer-section{
    margin-top: 60px;
}