
html{
    scroll-behavior: smooth;
}
#navbarNav .nav-link{
    font-size: 20px;
    font-style: italic;
}

.buy-now-btn{
    color: #ffffff;
    background: #000000;
    padding: 10px 25px;
    border-radius: 10px;
}

.marginStyle{
    margin-top: 120px;
}

#product a{
    text-decoration: none;
}
#about .row{
    margin-bottom: 50px;
}
#product .row{
    margin-bottom: 50px;
}
#about .card-footer{
    border-top: none;
    background: white;
}
.box{
    box-shadow: 1px 1px 10px lightgray;
    padding: 20px 0px;
    border-radius: 6px;
}
.box h5{
    margin-top: 15px;
}
.marginStyle2{
    margin-bottom: 30px;
}
.line{
    height: 7px;
    width: 100px;
    border-radius: 25px;
    background: linear-gradient(yellow, orange);
    border: 1px solid orange;
    margin-bottom: 20px;
}
.box-font{
    font-size: 25px;
    color: black;
    font-family: cursive;
}

#carouselExampleIndicators li{
    height: 10px;
    width: 40px;
    border-radius: 15px;
}
.cyan-bg{
    background-color: cyan;
    padding: 20px 20px;
}
.cyan-bg #marginStyle{
    margin-top: 50px;
    margin-bottom: 50px;
}
.big{
    font-size: 20px;
}

#faq{
    text-align: center;
}

#footer-section{
    margin-top: 60px;
}